pipeline/MoviceAnalytics_Parameter.json
{
	"name": "MoviceAnalytics_Parameter",
	"properties": {
		"activities": [
			{
				"name": "CopyMoiveHttpToADLSv2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Destination",
						"value": "rawdata/MoiveImport/MovieDB.csv"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "HTTP_Movie_DataSet",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLSv2_Movie_DataSet",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "MovieDataFlow",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyMoiveHttpToADLSv2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetFilterYear",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "AnalyticsDataFlow_Parameter",
						"type": "DataFlowReference",
						"parameters": {
							"dataflowParamYear": {
								"value": "'@{pipeline().parameters.pipelineParamYear}'",
								"type": "Expression"
							},
							"dataflowParamYearEX": {
								"value": "@activity('GetFilterYear').output.firstRow.TblYear",
								"type": "Expression"
							}
						}
					},
					"staging": {
						"linkedService": {
							"referenceName": "jssugsynapse-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "rawdata/SynapseStaging"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "GetFilterYear",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT [year] AS [TblYear],[month] AS [TblMonth]\nFROM [dbo].[MovieParameter]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSynapseAnalytics_DataSet_Query",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"pipelineParamYear": {
				"type": "string",
				"defaultValue": "1950"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-05-10T07:14:16Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}